//- ANGULAR CONTENT TEMPLATES
script(type="text/ng-template", id="content/admin.jade"): include templates/content/admin.jade
script(type="text/ng-template", id="content/admin/signin.jade"): include templates/content/admin/signin.jade
script(type="text/ng-template", id="content/admin/barcode-scanner.jade"): include templates/content//admin/barcode-scanner.jade
script(type="text/ng-template", id="content/category.jade"): include templates/content/category.jade
//- ANGULAR CONTENT TEMPLATES END

//- ANGULAR PARTIALS TEMPLATES
script(type="text/ng-template", id="partials/notify.jade"): include templates/partials/notify.jade
script(type="text/ng-template", id="partials/navbar.jade"): include templates/partials/navbar.jade
//- ANGULAR PARTIALS TEMPLATES END

//- ANGULAR TEMPLATES DEBUG
script(type="text/ng-template", id="content/try.jade"): include templates/content/try.jade
//- ANGULAR TEMPLATES DEBUG END