//- ANGULAR CONTENT TEMPLATES
script(type="text/ng-template", id="content/site_notice.jade"): include templates/content/site_notice.jade
script(type="text/ng-template", id="content/admin.jade"): include templates/content/admin.jade
script(type="text/ng-template", id="content/admin/user/signin.jade"): include templates/content/admin/user/signin.jade
script(type="text/ng-template", id="content/admin/user/create.jade"): include templates/content/admin/user/create.jade
script(type="text/ng-template", id="content/admin/user/edit.jade"): include templates/content/admin/user/edit.jade
script(type="text/ng-template", id="content/admin/user/show.jade"): include templates/content/admin/user/show.jade
script(type="text/ng-template", id="content/admin/user/index.jade"): include templates/content/admin/user/index.jade
script(type="text/ng-template", id="content/admin/barcode-scanner.jade"): include templates/content/admin/barcode-scanner.jade
script(type="text/ng-template", id="content/category.jade"): include templates/content/category.jade
//- ANGULAR CONTENT TEMPLATES END

//- ANGULAR PARTIALS TEMPLATES
script(type="text/ng-template", id="partials/notify.jade"): include templates/partials/notify.jade
script(type="text/ng-template", id="partials/navbar.jade"): include templates/partials/navbar.jade
//- ANGULAR PARTIALS TEMPLATES END

//- ANGULAR TEMPLATES DEBUG
script(type="text/ng-template", id="content/try.jade"): include templates/content/try.jade
//- ANGULAR TEMPLATES DEBUG END