//- ANGULAR CONTENT TEMPLATES
script(type="text/ng-template", id="content/site_notice.jade"): include content/site_notice.jade
script(type="text/ng-template", id="content/admin.jade"): include content/admin.jade
script(type="text/ng-template", id="content/admin/user/signin.jade"): include content/admin/user/signin.jade
script(type="text/ng-template", id="content/admin/user/create.jade"): include content/admin/user/create.jade
script(type="text/ng-template", id="content/admin/user/edit.jade"): include content/admin/user/edit.jade
script(type="text/ng-template", id="content/admin/user/show.jade"): include content/admin/user/show.jade
script(type="text/ng-template", id="content/admin/user/index.jade"): include content/admin/user/index.jade
script(type="text/ng-template", id="content/admin/product/list.jade"): include content/admin/product/list.jade
script(type="text/ng-template", id="content/admin/product/info.jade"): include content/admin/product/info.jade
script(type="text/ng-template", id="content/admin/product/vwheritage-list.jade"): include content/admin/product/vwheritage-list.jade
script(type="text/ng-template", id="content/admin/product/vwheritage-info.jade"): include content/admin/product/vwheritage-info.jade
script(type="text/ng-template", id="content/admin/product/compare-list.jade"): include content/admin/product/compare-list.jade
script(type="text/ng-template", id="content/admin/product/compare-info.jade"): include content/admin/product/compare-info.jade
script(type="text/ng-template", id="content/admin/attribute/list.jade"): include content/admin/attribute/list.jade
script(type="text/ng-template", id="content/admin/product/config.jade"): include content/admin/product/config.jade
script(type="text/ng-template", id="content/admin/config.jade"): include content/admin/config.jade
script(type="text/ng-template", id="content/admin/log.jade"): include content/admin/log.jade
script(type="text/ng-template", id="content/category.jade"): include content/category.jade
//- ANGULAR CONTENT TEMPLATES END

//- ANGULAR PARTIALS TEMPLATES
script(type="text/ng-template", id="partials/notify.jade"): include partials/notify.jade
script(type="text/ng-template", id="partials/navbar.jade"): include partials/navbar.jade
script(type="text/ng-template", id="partials/sidenav.jade"): include partials/sidenav.jade
//- ANGULAR PARTIALS TEMPLATES END

//- ANGULAR TEMPLATES DEBUG
script(type="text/ng-template", id="content/try.jade"): include content/try.jade
//- ANGULAR TEMPLATES DEBUG END