@import "../../bower_components/bootstrap/less/navbar.less";

.navbar-default {
  .navbar-toggle {

    border-color: @navbar-default-link-color;

    &:hover, &:focus {

    }

    .fa {
      display: block;
      font-size: 22px;
      color: @navbar-default-link-color;
      margin-top: -4px;
      margin-bottom: -4px;
    }
  }
}