h1 {{ 'site notice' | translate }}
h2 Bugwelder uses a number of amazing open source libraries, distributed under the following licenses:
ul
  li: a(href="http://sailsjs.org/") Magento - Open Software License
  li: a(href="http://sailsjs.org/") Sails.js - MIT License
  li: a(href="http://jade-lang.com/") Jade - MIT License
  li: a(href="http://lesscss.org/") LESS — Apache License v2.0
  li: a(href="https://github.com/ncb000gt/node.bcrypt.js") node.bcrypt.js — MIT License
  li: a(href="http://gruntjs.com/") Grunt - MIT License
  li: a(href="http://getbootstrap.com/") Twitter Bootstrap — Apache License v2.0
  li: a(href="http://fortawesome.github.io/Font-Awesome/") Font Awesome - MIT License
  li: a(href="http://angularjs.org/") AngularJS - MIT License
  li: a(href="https://github.com/buberdds/angular-bootstrap-colorpicker/") angular-bootstrap-colorpicker - MIT License
