.container
  h1 {{ 'site notice' | translate }}
  dl
    dt Inhaber
    dd(title="Christopher Heinecke") Christopher Heinecke
    dt Adresse
    dd(title="Bugwelder") Bugwelder
    dd(title="Strichweg 35") Strichweg 35
    dd(title="27472 Cuxhaven") 27472 Cuxhaven
    dd(title="Deutschland") Deutschland
    dt Öffnungszeiten
    dd(title="Mo - Fr") Mo - Fr
    dd(title="09.00-18.00 Uhr") 09.00-18.00 Uhr
    dt USt - IdNr.
    dd(title="Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz: DE243667612") DE243667612
    dt(title="Haftungshinweis") Haftungshinweis
    dd(title="Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich") Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    dt(title="Webseite") Webseite
    dd(title="shop.bugwelder.com") shop.bugwelder.com
  dl
    dt Technik &amp; Design
    dd(title="Pascal Garber") Pascal Garber
    dt E-Mail
    dd: a(title="jumplink@gmail.com", href="mailto:jumplink@gmail.com", target="_blank") pascal.garber@gmail.com
    dt Webseite
    dd jumplink.eu
  h4 {{ 'Bugwelder uses a number of amazing open source libraries, distributed under the following licenses:' | translate }}
  ul
    li: a(href="http://magento.com/") Magento - Open Software License
    li: a(href="http://sailsjs.org/") Sails.js - MIT License
    li: a(href="https://github.com/kyjan/angular-sails") angular-sails - MIT License
    li: a(href="http://jquery.com/") jQuery - MIT License
    li: a(href="http://jade-lang.com/") Jade - MIT License
    li: a(href="http://lesscss.org/") LESS — Apache License v2.0
    li: a(href="https://github.com/ncb000gt/node.bcrypt.js") node.bcrypt.js — MIT License
    li: a(href="https://github.com/caolan/async") Async.js — MIT License
    li: a(href="http://gruntjs.com/") Grunt - MIT License
    li: a(href="https://github.com/substack/dnode") DNode - MIT License
    li: a(href="https://github.com/bergie/dnode-php") DNode protocol for PHP - MIT License
    li: a(href="http://www.mongodb.org/") MongoDB - Apache License v2.0
    li: a(href="http://getbootstrap.com/") Twitter Bootstrap — Apache License v2.0
    li: a(href="http://fortawesome.github.io/Font-Awesome/") Font Awesome - MIT License
    li: a(href="http://angularjs.org/") AngularJS - MIT License
    li: a(href="https://github.com/buberdds/angular-bootstrap-colorpicker/") angular-bootstrap-colorpicker - MIT License
    li: a(href="http://socket.io/") Socket.IO - MIT License
    li: a(href="https://github.com/btford/angular-socket-io/") angular-socket-io - MIT License
    li: a(href="http://angular-gettext.rocketeer.be/") angular-gettext - MIT License
    li: a(href="https://github.com/angular-ui/bootstrap") angular-ui/bootstrap - MIT License 
    li: a(href="http://underscorejs.org/") Underscore - MIT License
    li: a(href="https://github.com/floydsoft/angular-underscore") angular-underscore