div.snap-drawer(snap-drawer="left")
  h2 Filter
  .row
    .col-xs-12
      .input-group
        span.input-group-addon(style="min-width:101px") {{'Status' | translate }}
        select.form-control(ng-model="filter.status")
          option(value="any") {{'any' | translate }}
          option(value="unset") {{'unset' | translate }}
          option(value="activated") {{'activated' | translate }}
          option(value="disabled") {{'disabled' | translate }}
    .col-xs-12
      .input-group
        span.input-group-addon(style="min-width:101px") {{'Type' | translate }}
        select.form-control(ng-model="filter.type")
          option(value="any") {{'any' | translate }}
          option(value="simple") simple
    .col-xs-12
      .input-group
        span.input-group-addon(style="min-width:101px") {{'Client Limit' | translate }}
        input.form-control(type="number", placeholder="{{'Enter limit' | translate }}", ng-model="client_limit")
    .col-xs-12
      .input-group
        span.input-group-addon(style="min-width:101px") {{'Server Limit' | translate }}
        input.form-control(type="number", placeholder="{{'Enter limit' | translate }}", ng-model="filter.limit")
    .col-xs-12
      .input-group
        span.input-group-addon(style="min-width:101px") {{'Show' | translate }}
        select.form-control(multiple, ng-model="selectedShowTable")
          option id
          option sku
          option sku_clean
          option name
  .btn-group
    button(type="button", ng-click="getProducts()").btn.btn-primary {{'resfresh' | translate }}
    button(type="button").btn.btn-danger {{'delete' | translate }}
div.snap-content(snap-content)
  navbar(mode="admin")
  .container
    .form-group
      label.sr-only(for='') {{'Search' | translate }}
      .input-icon-group
        input.form-control.input-lg(type='text', placeholder="{{'Search' | translate }}", ng-model="search")
        .input-icon-addon
          i.input-lg.with-action.fa.fa-caret-square-o-left(ng-click=" filter = '' ", title="{{'clear search' | translate }}")
    h1 Magento {{ 'Products' | translate }} ({{magento_products.length}})
    table.table.table-hover
      thead
        tr
          th(ng-if="selectedShowTableContains('id');") ID
          th(ng-if="selectedShowTableContains('sku');") SKU
          th(ng-if="selectedShowTableContains('sku_clean');") SKU (Clean)
          th(ng-if="selectedShowTableContains('name');") Name
          th {{ 'action' | translate }}
      tbody
        tr(ng-repeat="product in magento_products | filter:productFilter | filter:search  | limitTo:client_limit ")
          td(ng-if="selectedShowTableContains('id');") {{product.id}} 
          td(ng-if="selectedShowTableContains('sku');") {{product.sku}}
          td(ng-if="selectedShowTableContains('sku_clean');") {{product.sku_clean}}
          td(ng-if="selectedShowTableContains('name');") {{product.name}}
          td
            .btn-group
              a.btn.btn-info(href="#/admin/product/info/{{product.id}}") {{ 'show' | translate }}