.snap-drawers
  sidenav
  .snap-drawer(snap-drawer="right")
.snap-content(snap-content)
  navbar(mode="admin")
  .container
    div(style="padding: 24px;")
      form(action='', method='POST', role='form')
        .form-group
          label.sr-only(for='') SKU
          .input-group
            .input-group-btn
              button.btn.btn-default.dropdown-toggle.btn-lg(type="button", data-toggle="dropdown") {{search.action}}
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href="", ng-click="search.action = 'SKU'") SKU
                li: a(href="", ng-click="search.action = 'ID'") ID
                li.divider
                li: a(href="", ng-click="search.action = 'Search'") Search
            input.form-control.input-lg(type='text', name="sku",  placeholder='{{search.action}}', ng-model="search.value")
            .input-icon-addon
              i.input-lg.with-action.fa.fa-caret-square-o-left(ng-click="reset()")
            .input-group-btn
              button.btn.btn-primary.btn-lg(type='submit', ng-click="get()") Get
    .panel.panel-default(ng-disabled="!product.id")
      .panel-heading
        h3.panel-title
          | {{product.name}}
          i.icon-truck
      .panel-body
        dl.dl-horizontal
          dt ID
          dd {{product.id}}
          dt SKU
          dd {{product.sku}}
          dt Name
          dd {{product.name}}
          dt Retail Price
          dd £{{product.retail_price | number:2}} ({{product.retail_price*1.22 | number:2}}€ Netto, {{(product.retail_price*1.19)*1.22 | number:2}}€ Brutto)
          dt Cost Price
          dd £{{product.cost_price | number:2}} ({{product.cost_price*1.22 | number:2}}€ Netto, {{(product.cost_price*1.19)*1.22 | number:2}}€ Brutto)
       h4 images
        div(ng-repeat="image in product.images")
          img(src="{{image.LARGE.URL}}")  
      .panel-footer
        button.btn.btn-primary(ng-disabled="!product.id", type='submit', ng-click="import()") Placeholder