navbar(mode="admin")
.container
  div(style="padding: 24px;")
    form(action='', method='POST', role='form')
      .form-group
        label.sr-only(for='') Filter
        .input-icon-group
          input.form-control.input-lg(type='text', name="filter",  placeholder='filter', ng-model="filter")
          .input-icon-addon
            i.input-lg.with-action.fa.fa-caret-square-o-left(ng-click=" filter = '' ")
  table.table.table-hover
    thead
      tr
        th ID
        th SKU
        th SKU (Clean)
        th {{ 'action' | translate }}
    tbody
        tr(ng-repeat="product in extern_products | filter:filter  | limitTo:20 ")
          td {{product.id}} 
          td {{product.sku}}
          td {{product.sku_clean}}
          td
            .btn-group
              a.btn.btn-info(href="#/admin/product/vwheritage-info/{{product.id}}") {{ 'show' | translate }}