.snap-drawers
  sidenav
  .snap-drawer(snap-drawer="right")
.snap-content(snap-content)
  navbar(mode="admin")
  .container
    h1 Attribute List
    table.table.table-hover(ng-if="attributes.length")
      thead
        tr
          th Name
          th Type
          th Required
          th Unique
      tbody
        tr(ng-repeat="attribute in attributes")
          td {{$index}} 
          td {{attribute.type}}
          td {{attribute.required === true}}
          td {{attribute.unique === true}}